:root {
	font-size: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* 
.Home {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
} */

/* .Home {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-areas: "nav nav nav"
		"main main"
		"mnav mnav mnav"
		"info info info"
		"foot foot foot";
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 68px 45vh 60px 45vh 65px;
} */

/* ********************************************************************
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
******************************************************************** */

/* @media (min-width: 320px) and (max-width: 480px) { */
/* 
	.Main-container {
		width: 100vw;
		padding: 0 1rem;
	}

	.Home-main h2 {
		padding: 3rem 0;
		font-size: 2rem;
		text-align: center;
	}

	.Home-cards {
		width: 100%;
	}

	.Home-card {
		width: 30%;
		padding: 1rem 0;
		height: auto;
		font-size: 1rem;
		margin: 0.3rem 0;
	}

	.Home-mid-nav {
		height: 34%;
		width: 100%;
		justify-content: space-around;
		font-size: 1rem;
	}

	.Mid-nav-items {
		font-size: 0.75rem;
		padding: 2rem 0;
	}

	.Mid-nav-items h2 {
		width: 30%;
	}

	.Home-info {
		padding: 1rem 0;
		width: 100%;
		height: 310px;
		flex-direction: column;

		z-index: 9;
		position: absolute;
		top: 48vh;
		left: 0;
	}

	.Home-info-text {
		margin-top: 32%;
		width: 100%;
		height: 100%;
		padding: 1rem 0;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	} */

/* .Home-info-text p {
		width: 100%;
		height: 100%;
		padding-right: 200px;
		font-size: 1.1rem;
	} */
/* 
	.demo-img {
		width: 173px;
		height: 232px;
		bottom: -60px;
		right: 20px;
	} */
/* } */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
	.Main-container {
		width: 90rem;
		height: 100%;
		overflow-x: hidden;
	}

	.demo-img {
		width: 217px;
		height: 293px;
		bottom: -110px;
		right: 20%;
	} */

/* .Home-info-text p {
		width: 60%;
		padding-right: 200px;
		font-size: 1.1rem;
	} */
/* } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { */

.Home {
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
}

.Home-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 45vh;
	width: 100vw;
	background-color: #324755;
	color: #fff;
	overflow: hidden;
}

.Home-main h2 {
	font-size: 3.2rem;
	padding: 2rem 0;
	font-family: 'Roboto', sans-serif;
}

.Main-container {
	width: 102rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Home-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
}

.Home-card {
	width: 30%;
	height: 100%;
	padding: 2rem 0;
	height: auto;
	font-size: 2rem;
}

.divider {
	background-color: #3bd277;
	height: 0.25rem;
	width: 100%;
}

.Home-mid-nav {
	height: 60px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	color: #ddd;
	background-color: #d97d54;
	font-family: 'Roboto', sans-serif;
	font-size: 1.35rem;
}

.Mid-nav-items {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1.75rem 0;
}

.Home-info-container {
	width: 100vw;
	height: 30rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #333;
}

.Home-info {
	width: 55%;
	margin: 0 4rem;
	height: 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Home-info p {
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

.info-block {
	width: 100%;
	height: auto;
}

.hidden {
	display: none;
}

.img-container {
	margin-top: 20px;
	width: 260px;
}

.img-container img {
	width: 100%;
}

/* } */
